<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Practices.ServiceLocation" version="1.2.0.0" targetFramework="net451" />
  <package id="Sundstrom.Mvvm" version="1.1.5354.17800" targetFramework="net451" />
  <package id="Sundstrom.NuIoc" version="1.0.5329.40423" targetFramework="net451" />
  <package id="Sundstrom.Validation" version="1.1.5354.17756" targetFramework="net451" />
</packages>